 body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

h1, h6{
    font-family: 'Montserrat', sans-serif; 
}
h2, h3 {
    font-family: 'Roboto', sans-serif;  
}

.content-bg-image {
    /* IMAGE BY Matheus Viana */
    /* https://www.pexels.com/photo/human-hands-illustrations-3354675/ */
    background-image: url('https://images.pexels.com/photos/3354675/pexels-photo-3354675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.blur-me {
    filter: blur(8px);
  -webkit-filter: blur(8px);
}


.float-img img {
    /* width: 30vw; */
    /* border-radius: 50%; */
     /* -webkit-transform: scaleX(-1) ;
    transform: scaleX(-1);  */
    animation: floatImage 6s ease-in-out infinite;
    transition: .5s ease;

}



.rotate-img img:hover{
    transition: .5s ease;
    animation: rotateImage 3s ease-in-out infinite;  
}

@keyframes rotateImage{
    0%{
        transform: translateY(0);
    }
    50%{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1); 
        
    }
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1); 
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.5rem);
        
    }
    100%{
        transform: translateY(0);
    }
}

.bg-opacity{
    background-color: rgb(0, 0, 0, 0.7);

}

.custom-menu{
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
}

ul li a{
    font-size: large;
}