/* HERO SECTION */
section.hero {
    background: url('./images/about-image5b.jpg') no-repeat fixed top center / cover;
    background-color: rgb(33, 33, 33);
    min-height: 300px;
}

section.hero .backdrop.content {
    backdrop-filter: none;
}

section.hero .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section.hero .circle {
    background: url('./images/about-hero-sm.png') rgb(216, 216, 216) no-repeat top center / cover;
    border-radius: 50%;
    filter: grayscale(90%) contrast(90%) blur(0);
    min-width: 600px;
    height: 600px;
    overflow: hidden;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

section.hero .circle:hover {
    background: url('./images/about-hero-sm.png') rgb(216, 216, 216) no-repeat top center / cover;
    border-radius: var(--fancybox-border-radius-2);
    filter: none;
    animation: morph 6s linear infinite;
    transition: 0.3s ease-out;
    box-shadow: #fffefc 0px 0px 5px, #ffffff 0px 0px 5px, #ffffff 0px 0px 6px;
    cursor: pointer;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

section.hero .circle img {
    width: 100%;
}

section.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.hero .content h1 {
    color: #ffd700;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.hero .content h2 {
    color: #FFF;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.hero .content p {
    color: #FFF;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.hero .inner-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

section.hero .social {
    margin: 0;

}

.social a.links.btn svg {
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: auto !important;
}

section.hero .img-container {
    width: 100%;
    height: 100%;
    min-height: 700px;
}

section.hero .img-container img {
    width: 100%;
    height: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 50%;
}


/* ABOUT SECTION */
section.about {
    background-color: rgb(33, 33, 33);
    min-height: 300px;
}

section.about .header {
    display: flex;
    align-items: center;
    justify-content: start;
}

section.about .shout-box {
    min-height: 110px;
}

section.about span.typed-cursor {
    border-right: .18em solid rgb(255, 166, 0);
}

section.about span.typewriting-text {
    font-size: 20px;
    line-height: normal;
    color: gold;
}

section.about .content {
    background-color: rgb(33, 33, 33);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section.about .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-width: 100%;
    filter: grayscale(90%) contrast(90%) blur(0);
}

section.about .img-container img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

section.about .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

section.about h2 {
    color: #ffd700;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.about h3 {
    color: #FFF;
    font-weight: 700;
}

section.about p {
    color: #FFF;
}

/* PROJECTS SECTION */
section.projects {
    background: url(./images/about-image3.png) right top / cover repeat-x fixed rgb(00, 00, 00);
    min-height: 300px;
}

section.projects .header.text-center {
    margin-bottom: 50px;
}


.project-container {
    width: 100%;
    gap: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.projects .content svg {
    width: 10px;
}

.project-container .card {
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
}

.project-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.project-container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    filter: none;
}

.project-container .card:hover .face.face1 {
    background: #343434;
    transform: translateY(0);
    filter: grayscale(100%) contrast(100%) blur(0);

}

.project-container .card:nth-child(1) .face.face1 {
    background: url('./images/screenshots/reganindustrial-min.png') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(2) .face.face1 {
    background: url('./images/screenshots/richteksolutions-min.png') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(3) .face.face1 {
    background: url('./images/screenshots/proj-1.jpg') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(4) .face.face1 {
    background: url('./images/screenshots/proj-7.jpg') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(5) .face.face1 {
    background: url('./images/screenshots/proj-8.jpg') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(6) .face.face1 {
    background: url('./images/screenshots/proj-9.jpg') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(7) .face.face1 {
    background: url('./images/screenshots/proj-3.jpg') center center /100% 100% no-repeat;
}

.project-container .card:nth-child(8) .face.face1 {
    background: url('./images/screenshots/proj-4.jpg') center center /100% 100% no-repeat;
}

.project-container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-container .card:hover .face.face1 .content {
    opacity: 1;
}

.project-container .card:hover .face.face1 .content h3 {
    display: block;
    width: 100%;
    text-shadow: 0 0 15px #000 !important;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1.5em;
    padding: 5px 15px;
    text-shadow: none;
    text-align: center;
}

.project-container .card:hover .face.face1 .content span {
    display: block;
    width: 100%;
    text-shadow: 0 0 15px #000 !important;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1em;
    margin: 10px 0 0;
    padding: 5px 15px;
    text-shadow: none;
    text-align: center;
}

.project-container .card .face.face1 .content img {
    max-width: 100px;
}

.project-container .card .face.face1 .content h3 {
    display: none;
}

.project-container .card .face.face1 .content span {
    display: none;

}

.project-container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.project-container .card:hover .face.face2 {
    transform: translateY(0);
}

.project-container .card .face.face2 .content {
    width: 100%;
}

.project-container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.project-container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    padding: 5px 15px;
    border: 1px solid #333;
    background: #ffb41e;
}

.project-container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

section.projects .header.text-center h2 {
    color: #ffd700;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.projects .header.text-center h3 {
    color: #ffd700;
}


/* TOOLS SECTION */
section.tools {
    background: url(./images/about-image3.png) right top / cover repeat-x fixed rgb(33, 33, 33);
    /* background-image: linear-gradient(to right, #434343, #4e4e4e, #181818, #424242); */
    min-height: 300px;
}

section.tools .header {
    margin: 30px 0;
    text-align: center;
}


section.tools h2 {
    color: #ffd700;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.tools h3 {
    color: #FFF;
}

section.tools ul {
    padding-left: 0;
}

section.tools ul.links li {
    list-style: none;
    margin-bottom: 10px;
}

section.tools ul.links li a {
    text-transform: uppercase;
    padding: 5px 0;
}

section.tools ul.links li a.btn-hover.colored:hover {
    background-image: linear-gradient(to right, #f5ce62, #e4dc03, #181818, #424242);
    box-shadow: 0 4px 5px 0 #525252;
    padding: 5px 20px 5px 20px;
}

section.tools ul.links li a.btn-hover {
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

section.tools ul.links li a.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

section.tools ul.links li a.btn-hover:focus {
    outline: none;
}


section.tools .inner-content {
    padding: 0;
}

section.tools .tools-kits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 50px;
    align-items: stretch;
}

section.tools .tools-kits .image-container {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: rgba(173, 173, 173, 0.1);
    transition: 300ms;
}

section.tools .tools-kits .image-container:hover {
    background-color: rgba(255, 255, 255, 0.482);
}

section.tools .tools-kits .image-container:hover:after {
    opacity: 1;
    transform: scale(1.1);
}

section.tools .tools-kits .image-container:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

section.tools .tools-kits .image-container img.icon {
    padding: 10px;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    object-fit: cover;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


section.tools .tools-kits .image-container:hover img.icon {
    padding: 10px;
    transform: scale(1);
    object-fit: cover;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

section.tools ul.links {
    color: white;
    list-style-type: square;
    margin: 20px 0;
    display: grid;
    gap: 5px;
}

section.tools ul.links li a.link-yellow-text {
    color: #FFF;
    font-size: 22px;
    line-height: 20px;
    list-style-type: square;
}

section.tools ul.links li a.link-yellow-text:hover {
    color: #ffd700;
}

section.tools .repository a.link-yellow-text {
    text-transform: lowercase;
}


/* EXPERIENCE */
section.experience {
    /* background: url(./images/about-image2b-sm.png) bottom left / contain no-repeat fixed rgba(43, 43, 43); */
    background-color: rgb(33, 33, 33);
    min-height: 300px;
}

section.experience .header h2 {
    color: #ffd700;
    text-shadow: 0 0 10px #ffb41e !important;
    margin-bottom: 50px;
}

section.experience .card-header {
    margin-bottom: auto;
    min-height: 200px;
}

section.experience .contents {
    margin-top: auto;
    min-height: 200px;
}

section.experience .blur-card {
    display: grid;
    padding: 30px;
    min-width: 300px;
    background: rgb(20 20 20 / 78%) !important;
}

section.experience .card-container .icon {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}

section.experience .card-container .icon svg {
    max-width: 100px;
    max-height: 100px;
}

section.experience .card-container svg path {
    fill: #FFF;
}

section.experience .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: repeat(1, 1fr) 1fr;
    grid-gap: 30px;
    align-items: stretch;
}


/* CONTACT SECTION */
section.connect {
    /* background: url(./images/about-image2b-sm.png) bottom left / contain no-repeat fixed rgba(43, 43, 43); */
    background: rgba(43, 43, 43);
    background: url('./images/about-image5b.jpg') no-repeat fixed top center / cover;
    min-height: 50vh;
}

section.connect .header h2 {
    color: #fff;
    text-shadow: 0 0 10px #ffb41e !important;
}

section.connect img#thumbnail {
    cursor: pointer;
}

section.connect div.blur-card {
    padding: 30px;
}

section.connect .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

section.connect .contact-form-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section.connect .content iframe {
    height: 60vh;
    max-height: 640px;
    width: 100%;
}

@media (max-width:1499px) {

    section.experience .card-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

}

@media (max-width:1299px) {

    section.hero .circle {
        min-width: 540px;
        max-width: 540px;
        min-height: 540px;
        max-height: 540px;
    }

    section.projects .grid .card-body {
        min-height: auto;
    }

    section.experience .card-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }


}


@media (max-width:1199px) {
    section.hero .content {
        padding: 30px 20px;
        background-color: rgb(33 33 33 / 25%);
        border-radius: 20px;
    }

    section.hero .circle {
        min-width: 440px;
        max-width: 440px;
        min-height: 440px;
        max-height: 440px;
    }

    section.hero .row {
        flex-direction: column;
    }

    section.hero .project-button {
        margin: 30px 0;
    }

    section.hero .img-container._left {
        padding: 30px 20px;
    }

    section.hero .inner-content {
        align-items: center;
        gap: 20px;
    }

    section.hero .header {
        text-align: center;
    }

    section.hero .img-container {
        min-height: auto;

    }

    .project-container {
        width: 100%;
        justify-content: center;
    }

    .project-container .card.face.face1 {
        background: top center /cover no-repeat;
    }

    section.experience .blur-card {
        min-width: 250px;
    }

    section.hero .social {
        flex-direction: row;
    }
}

@media (max-width:991px) {

    section.hero {
        background: url() no-repeat fixed top center / cover;
        background-color: rgb(33, 33, 33);
    }

    section.about {
        background: url(./images/about-image2b-sm.png) no-repeat scroll top center / cover rgb(33, 33, 33);
    }

    section.about .content {
        border-radius: 20px;
        background-color: rgb(33 33 33 / 90%);
    }

    section.about .img-container {
        display: none;
    }

    section.projects .card-body {
        min-height: auto;
        height: auto;
    }

    section.connect ._right {
        padding-right: 0;
    }

    section.connect .row {
        flex-direction: column-reverse;
    }

    section.connect .content {
        margin-top: 50px;
        margin-bottom: 0;
    }

}

@media (max-width:768px) {
    section.hero {
        margin-top: 30px;
    }

    section.tools .content._right {
        padding-right: 0;
    }

    section.tools ul.links li {
        padding: 5px 10px;
    }

    section.projects .grid {
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 40px;
    }

    .project-container .card .face {
        width: 100%;
    }

    .project-container .card .face.face1 {
        height: 400px;
    }

    section.experience .blur-card {
        padding: 20px;
    }

    section.tools .tools-kits {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 70px;
        align-items: stretch;
    }

    section.hero .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width:575px) {
    section.hero {
        margin-top: 20px;
    }

    section.hero a.cta-custom {
        text-wrap: nowrap;
        padding: 10px;
    }

    section.hero .social a.links.btn svg {
        padding: 5px;
    }

    section.hero .circle {
        min-width: 240px;
        max-width: 240px;
        min-height: 240px;
        max-height: 240px;
    }

    section.about .content {
        border-radius: 10px;
    }

    .project-container .card .face.face1 {
        height: 260px;
    }

    .project-container .card.face.face1 {
        background: top center /100% 100% no-repeat;
    }

    section.projects .grid {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 30px;
    }

    section.tools .tools-kits {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 50px;
        align-items: stretch;
    }

    section.connect .inner-content iframe {
        height: auto;
    }
}

@media (max-width:499px) {

    section.hero {
        margin-top: 30px;
        background: url() no-repeat fixed top center / cover;
        background-color: rgb(33, 33, 33);
        min-height: 300px;
    }

    section.hero a.cta-custom {
        text-wrap: nowrap;
        padding: 10px;
    }

    section.hero .content p {
        color: #FFF;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
    }

    section.about .content {
        padding: 20px;
        gap: 0;
    }

    section.about .header {
        justify-content: center;
    }

    section.about span.typewriting-text {
        font-size: 14px;
        line-height: normal;
        color: gold;
    }


    section.tools .header {
        margin: 30px 0;
    }

    section.tools .header h2 {
        text-align: center !important;
    }

    section.tools .tools-container {
        padding: 10px;
    }

    section.tools ul.links li a.btn-hover {
        font-size: 10px;
    }

    section.tools ul.links li {
        padding: 5px 0;
        margin-bottom: 5px;
    }

    section.tools .tools-kits {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        grid-gap: 30px;
        align-items: stretch;
    }


    section.projects .grid .card-body {
        min-height: auto !important;
    }

    section.projects .grid .contents.custom-card .image {
        min-height: auto;
        height: auto;
    }

    section.projects .grid .contents.custom-card .image img {
        object-fit: contain;
    }

    section.connect div.blur-card {
        padding: 15px;
        background: transparent;
    }

    img#thumbnail {
        height: auto;
    }

}